/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Top Banner */
.top-banner {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #6b4067;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
    z-index: 1000;
}

.top-banner p {
    display: inline-block;
    min-width: 100%;
    padding-right: 50px;
    animation: scrollText 15s linear infinite;
}

.top-banner:hover p {
    animation-play-state: paused;
}

@keyframes scrollText {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Header */
header {
    position: fixed;
    top: 38px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    z-index: 999;
    transition: all 0.3s ease;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    transition: all 0.3s ease;
    z-index: 1000;
}

.header-container.scrolled {
    border-bottom: 1px solid #6b4067;
    padding: 10px;
}

.header-container.scrolled .logo img {
    width: 150px;
}

.header-container.scrolled + .nav-submenu {
    display: flex;
}

.header-container,
.nav-submenu {
    max-width: 1200px;
    margin: 0 auto;
}

/* Logo */
.logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 200px;
    transition: width 0.3s ease-out;
}

/* Navigation */
.navigation {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 25px;
    z-index: 1000;
}

.nav-item {
    padding: 5px;
}

.nav-item a {
    text-decoration: none;
    color: #6b4067;
    padding: 5px;
}

.nav-item:hover a {
    color: #f1d6c5;
}

.nav-submenu {
    display: none;
    justify-content: center;
    gap: 25px;
    padding: 10px 0;
    border-top: 1px solid #eee;
    width: 100%;
    background-color: #fff;
}

/* Header Icons */
.header-icons {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.icon img {
    justify-content: flex-start;
    width: 20px;
    height: 20px;
}

.profile-text a {
    text-decoration: none;
    font-size: 14px;
    color: #000;
}

/* Icon Hover Effect */
.profile-text:hover  a {
    color: #f1d6c5;
}

/* Hero Section */
.hero {
    background-color: #f1d6c5;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 60px;
    color: #6b4067;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.hero p {
    font-size: 30px;
    color: #6b4067;
    margin-bottom: 20px;
}

.hero button {
    background-color: #6b4067;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: 100%;
}

.hero button:hover {
    background-color: #5a3458;
}

.hero img{
    max-width: 100%;
}

.gif {
    padding: 36px;
    width: max;
}

.terms {
    text-decoration: none;
    background-color: #6b4067;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
}

.terms a{
    color: #fff;
}

.all_products{
    padding-top: 50px;
    padding-bottom: 100%;
    background-color: #fbf1eb;
}

.title{
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 50px;
    text-align: center;
    text-decoration: none;
    color: #816c65;
}

.bundle-products-container{
    max-width: 1250px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    text-align: center;
    justify-content: center;
}

.one-product-image {
    position: relative;
    padding: 20px;
    background-position: center !important;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 10px;
    flex-direction: column;
    aspect-ratio: 1;
}

.discount-tag-bg {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}

.discount-tag {
    background-color: #664164;
    border-radius: 6px;
    padding: 5px 8px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    display: block;
    line-height: 1;
}

.one-product-info {
    text-align: center;
    color: #816c65;
}

.one-product a{
    text-decoration: none;
}

.prices span {
    text-align: center;
    color: #816c65;
    font-size: 25px;
}

.prices p {
    text-align: center;
    color: #816c65;
    font-size: 10px;
}

.regular-price{
    text-decoration: line-through;
}

.add-button {
    background-color: #daa48a;
    color: #fff;
    border: none;
    text-align: center;
    font-size: 10%;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 7px;
}

.add-button button{
    background-color: #daa48a;
    color: #fff;
    border: none;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.has-two-on-row{
    margin-left: 40.5%;
}